#main ul li{background-color:#fff;}
*{margin:0;padding:0;list-style: none;}
.margin{width: 1200px;margin: 0 auto;}
.Smtop{height: 30px;}
 .Smtop li{padding: 0 8px;line-height: 30px;}
  .Smtop li a{font-size:12px;}
header{height: 70px;padding: 10px 0;}
 header .logo{width: 240px;height:50px;margin-right:40px;} 
   header .naver ul li{height: 40px;margin-right:20px;margin-top:5px;}
    header .naver ul li a{font-size: 16px;color: #3a3a3a;position: relative;line-height: 40px;display: block;}
     header .naver ul li a:hover{color:#ca141d;border-bottom:2px solid #ca141d}
header .h-right{width: 330px;height: 42px;position:relative;}
 header .h-r-search{margin-top:14px;position:relative;height:28px;border-bottom: 1px solid #ddd;}
   header .h-r-search form input[type=text]{background: #fff;border: 0;color: #3a3a3a;width: 299px;padding-left: 11px;height: 27px;line-height: 27px;outline:0;}
      header .h-r-search form input[type=submit]{width: 20px;height: 33px;cursor: pointer;border: 0;text-indent: -9999px;overflow: hidden;position: absolute;right: 0;background:url(../images/icon-common.png) no-repeat 0 -25px;background-position:0 -25px;}
        header .h-r-inform{position: absolute;max-width: 280px;right: 25px;bottom: 8px;z-index: 2;white-space: nowrap;text-align: right;overflow: hidden;}
           header .h-r-inform a{color: #a4a4a4;font-size: 12px;margin-right: 10px;padding: 4px 4px 1px;background: #f5f5f5;}
            header .h-r-inform a:hover{color:#ca141d;}       
  .hr-10{height:10px;width:1423px;background:rgba(0,0,0,.1)} 
.naver-sub{z-index: 305;position: absolute;left: 0;top: 90px;min-width: 100%;overflow: hidden;border-top: 1px solid #ebebeb;background: #fff;}           
.sub-b{width:1200px;height:289px;overflow: hidden;background-color: #fff;z-index: 305;margin:0 auto;}
.sub-b .p-title{width:1188px;height:35px;padding: 5px 12px 0 0;}
.sub-b .p-title s1{max-width: 170px;margin-right: 15px;}
.sub-b .p-title a{color: #3a3a3a;font-size: 14px;padding:0 15px;}
.sub-b .p-title s2{width:942px;height:60px;}
.sub-b .p-title s2 a{padding: 0 15px;};
.girdslist{width:1236px;height:224px;padding-left:18px;}
.girdslist .grid-items{width: 120px;height: 206px;margin-right: 54px;margin-bottom: 18px;text-align:center;}
.girdslist .grid-items a .grid-title{line-height:16px;font-size: 14px;margin: 16px 20px 2px;overflow: hidden;color: #3a3a3a;display: table-cell;vertical-align: bottom;width: 120px;height:42px;padding-left: 16px;padding-right: 16px;}
.girdslist .grid-items a .grid-price{margin: 0 20px 20px;overflow: hidden;color: #cc0e11;}
.grid-items .grid-img{width: 120px;height: 120px;margin: 23px auto 0;}
.grid-items .grid-img img{width: 120px;height: 120px;}
.firstpage{height:28.5px;padding-top:10px;margin-left: 1px;line-height: 1.5;color: #BBB;}
.project{width:450px;height:580px;position: static;top:-70px}
.galllist{width:450px;height:68px;margin-top:18px;position: relative;}
.gallitem{height:68px;width:370px;margin-left:40px;overflow:hidden;}
.galllist>a{font:20px/26px "";text-align:center;width: 30px;height: 30px;border-radius:50%;margin-top: 19px;position: absolute;display:block;border:solid 1px #333333;}
.btnleft1{left:0}
.btnright1{right:0}
.galllist ul{width:1200px}
.galllist ul li{width:74px;height:68px;padding: 0 3px;}
.galllist ul li a{width:68px;height:68px;display:block;}
.galllist ul li a:hover{border:solid 1px red;}
.galllist ul li img{width:60px;height:60px}
.product{width:730px;height:556px;padding: 0 0 30px 30px;}
.product .title{width:700px;height:81.5px;}
.product .title h1{color: #3a3a3a;font-size: 21px;margin-bottom:10px;}
.product .title-b span:nth-child(1){margin-right: 15px;color: #ca141d;}
 span{color: #3a3a3a;}          
#main{height:1517px;background:#f5f5f5;}
#main .tipst{height:71px;margin:14px 0;}
#main .tipst h2{height:29px;padding-bottom:8px;color:#666;font-size:100%;font-weight:400;}
#main .tipst h2 a{color: #ca141d}
#main .tipst-search{height:42px;}
 .tipst-search .p-title{font-size: 14px;text-align: left;color: #CCC;width:100px}
.tipst-search .p-values{margin-left:10px;}
.tipst-search .p-values span{color:#eee;margin:0 5px;}
#main .catarea{height:50px;background:#fff;}
#main .catarea .p-title{font:12px/50px "";width:60px;text-align: center;;}
#main .catarea .p-value ul li{width:50px;text-align: center;font:12px/50px "";color:#000;}
#main .catarea .p-value ul li.active a{color:#CA141D}
.hr-20{height:20px;}
.pro-list{height:1292px;padding-bottom:20px;}
.pro-list #prolist{height:1272px;}
.pro-list #prolist li{width:242px;height:318px;box-shadow:1px 1px 1px rgba(0,0,0,0.8)}
.pro-list #prolist li {width:232px;height:308px;margin-bottom: 10px;background: #FFF;padding: 14px 16px;}
.pro-list #prolist li{margin-bottom: 10px;margin-right:8px;}
.pro-list #prolist li div a .p-img{width:200;height:210px;padding: 0 0 10px 0;}
.pro-list #prolist li div a .p-img img{width:200px;height: 200px;margin-left: -1px;display:block;}
.pro-list #prolist li div a .p-name{line-height: 1.5;overflow: hidden;color: #666;font-size: 14px;height: 42px;}
.pro-list #prolist li div a .p-price{padding-top: 6px;color: #333;height: 30px;line-height: 30px;}
#search-pager{height:31px;width:319px;position:relative;margin-left:300px;}
  .pagWarp{height: 40px;box-shadow: 0 2px 5px #b6b6b6;position: absolute; border-radius: 2px;right: 0;}
    #btnL,#btnR{line-height: 40px; cursor: pointer;}
    #btnL{float: left;}
    #btnR{ float: right;  }
    .pagWarp ul{ height: 40px;margin: 0 auto;float: left;text-align: center;padding-left: 40px;padding-right: 40px;}
    .pagWarp ul li{float: left;text-align: center;line-height: 40px;padding: 0 4px; background:#ccc}
    .active{color: #CA141D;}
.btn-ccc{display:block;width:38%;height:30px;background:#C0C0C0;border-radius:10px;font:12px/28px "";color:#fff;text-align:center;margin:0 auto;cursor: pointer;}
#num{font:14px/20px "";color:#CA141D;margin-top:3px;}


footer{
				height: 478px;
				width: 1440px;
				border-top:solid 1px #eee;
			}
			#foot-t{height:357px;background:#f0f0f0;}
			ul.foot-header{height:140px;padding: 46px 0 46px;margin-bottom: 0;}
			ul.foot-header li{width:300px;height:47px;}
			ul.foot-header li a{line-height: 47px;font-size: 18px;color:#333;}
			ul.foot-header li a span{background:url(../images/icon-common.png) no-repeat;display: inline-block;line-height: 47px;width: 47px;height: 47px;margin-right: 16px;vertical-align: middle;}
			ul.foot-header li:nth-child(1) a span{background-position:0 -151px;}
			ul.foot-header li:nth-child(2) a span{background-position:-94px -151px;}
			ul.foot-header li:nth-child(3) a span{background-position:-141px -151px;}
			ul.foot-header li:nth-child(4) a span{background-position:-47px -151px;}
			#foot-cont{height:217px;border-top: 1px solid #EEE;padding: 26px 0 18px;}
			#foot-cont .service-l{width:945px;height:169px;}
			#foot-cont .service-l dl{width:16.66667%;font-size: 14px;color: #3a3a3a;}
			#foot-cont  dl dt .line{background: #a8a8a8;width: 22px;height: 2px;margin: 2px 0 12px 0 !important;}
			#foot-cont dl dt .title{font-size: 14px;padding-bottom: 12px;color: #3a3a3a;display: block;border-left: none;padding-left: 0;line-height: 1.5 !important;margin-bottom: 0 !important;}
			#foot-cont  dl dd{margin:0;padding:0;}
			#foot-cont dl dd ol li{line-height: 24px;}
			#foot-cont  dl dd ol li a{color: #666;font-size:14px;}
			#foot-cont  dl dd ol li a:hover{color:#cc0e11;}
			#sevicelink dt{position:relative;}
			#sevicelink dt .button{position:absolute;left: 60px;bottom: 12px;}
			#sevicelink dt .button .btn-prev{cursor:pointer;display: inline-block;line-height: 12px;text-align: center;color: #FFF;margin-right: 2px;width: 14px;height: 14px;border-radius: 3px;background: #b3b3b3;}
			#sevicelink dt .button .btn-next{cursor:pointer;display: inline-block;line-height: 12px;text-align: center;color: #FFF;margin-right: 2px;width: 14px;height: 14px;border-radius: 3px;background: #b3b3b3;}
			.servicelist ol{width:158px;margin-left:0;}
			.over{overflow:hidden;}
			#foot-cont .service-r{width:250px;height:164px;padding-left:40px;border-left:solid 1px #E2E3E5;}
			#foot-cont .service-r p.title{font-size:24px;color:#3a3a3a;padding:0;}
			#foot-cont .service-r dl dd:nth-child(3) a{display: block;border-radius:3px;width: 161px;height: 35px;padding: 0;margin-top: 10px;background: #FFF;border: 1px solid #ddd;font-size: 14px;line-height: 35px;text-align: center;color: #900 !important;cursor: pointer;}
			#foot-cont .service-r dl dd:nth-child(3) a i{display:inline-block;height: 18px;width: 22px; margin-right: 8px;vertical-align: middle;background:url(../images/icon-common.png) no-repeat;background-position:-101px -23px;}
			#foot-b{height:121px;border-top: 1px solid #EEE;background: #e6e6e6;}
			#foot-b .foot{height:120px;width:1200px;padding: 26px 0 34px;}
			#foot-b .foot .foot-b-l div{width: 117px;height: 36px; padding: 20px 38px 0 0;}
			#foot-b .foot .foot-b-c div{width: 625px;height: 60px;text-align: left;}
			#foot-b .foot .foot-b-c p{color: #a4a4a4;line-height: 20px;margin-bottom:0;font-size:12px;}
			#foot-b .foot-b-r{padding: 15px 0 0 80px;} 
			#foot-b .foot-b-r a img{width:70px;height:24px;}