#main ul li{background-color:#fff;}
*{margin:0;padding:0;list-style: none;}
.margin{width: 1200px;margin: 0 auto;}
.Smtop{height: 30px;}
 .Smtop li{padding: 0 8px;line-height: 30px;}
  .Smtop li a{font-size:12px;}
header{height: 70px;padding: 10px 0;}
 header .logo{width: 240px;height:50px;margin-right:40px;} 
   header .naver ul li{height: 40px;margin-right:20px;margin-top:5px;}
    header .naver ul li a{font-size: 16px;color: #3a3a3a;position: relative;line-height: 40px;display: block;}
     header .naver ul li a:hover{color:#ca141d;border-bottom:2px solid #ca141d}
header .h-right{width: 330px;height: 42px;position:relative;}
 header .h-r-search{margin-top:14px;position:relative;height:28px;border-bottom: 1px solid #ddd;}
   header .h-r-search form input[type=text]{background: #fff;border: 0;color: #3a3a3a;width: 299px;padding-left: 11px;height: 27px;line-height: 27px;outline:0;}
      header .h-r-search form input[type=submit]{width: 20px;height: 33px;cursor: pointer;border: 0;text-indent: -9999px;overflow: hidden;position: absolute;right: 0;background:url(../images/icon-common.png) no-repeat 0 -25px;background-position:0 -25px;}
        header .h-r-inform{position: absolute;max-width: 280px;right: 25px;bottom: 8px;z-index: 2;white-space: nowrap;text-align: right;overflow: hidden;}
           header .h-r-inform a{color: #a4a4a4;font-size: 12px;margin-right: 10px;padding: 4px 4px 1px;background: #f5f5f5;}
            header .h-r-inform a:hover{color:#ca141d;}       
     #banner-main #choosebox{height: 450px;width:240px;background:rgba(0,0,0,.5);position:absolute;z-index:3;}
          #banner-main #choosebox ul{position: relative;padding-bottom: 0;} 
             #banner-main #choosebox ul li{vertical-align: top;font-size:12px;height: 75px; color:#999}
                #banner-main #choosebox ul li>div{padding: 10px 16px;height: 55px;position: relative;}
                  #banner-main #choosebox ul li div>a{color: #999;margin-right: 8px;display: inline-block;display: inline;font-size: 14px;}
                   #banner-main #choosebox ul li:hover div>a{color:#fff;}
                     #banner-main #choosebox ul li:hover i{color:#fff;}
                        #banner-main #choosebox .bannmen ul li{height:50px;}
                       #banner-main #choosebox ul li div>i{display: block;position: absolute;width: 7px;height: 13px;background-position: -49px 0;top: 50%;margin-top: 3px;right: 15px}
     #banner-main #choosebox ul li>div:nth-child(2){position: absolute;left: 240px;width: 648px;height: 448px;background-color: #FFF;top: 0;border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;margin: 0;padding: 0;}               
         #banner-main #choosebox ul li>div:nth-child(2) .r-title{padding: 20px 28px 20px 40px;width:648px;height:70px;line-height: 30px;margin-right:0;!important;}
            #banner-main #choosebox ul li>div:nth-child(2) .r-title span{font-size: 14px;float: left;cursor:pointer;color: #ca151d}
              #banner-main #choosebox ul li>div:nth-child(2) .r-title i{float:right}
            #banner-main #choosebox ul li>div:nth-child(2) ul{width: 648px;height:137px;padding: 36px 28px 0 40px;border-top: 1px solid #eaeaea;}
              #banner-main #choosebox ul li>div:nth-child(2) ul li{float: left;vertical-align: top;}
                #banner-main #choosebox ul li>div:nth-child(2) ul li a{display: block;padding-right: 30px;line-height: 1;font-size: 14px;color: #3a3a3a;}
                #banner-main #choosebox ul li>div:nth-child(2) ul li a:hover{color:#ca151d};
                  #banner-main #choosebox ul li>div:nth-child(2) .r-pro{width: 648px;height: 237px;position: absolute;bottom: 0;left: 0;}  
                        #banner-main #choosebox ul li>div:nth-child(2) .r-pro ul{width:100%;height:100%;display:flex;justify-content: space-between;padding:0;}
                     #banner-main #choosebox ul li>div:nth-child(2) .r-pro ul li{flex:1;width:162px;margin:0;background: #fff;position: absolute;right: 0;top: 0;width: 25%;height: 236px;position: relative;text-align:center;}    
                      #banner-main #choosebox ul li>div:nth-child(2) .r-pro a{text-align:center;display:inline-block;width:100%;height:100%;padding:0;}
                       #banner-main #choosebox ul li>div:nth-child(2) .r-pro ul li img{width: 118px;height: 118px;text-align: center;border:0 none;margin: 26px auto 0;}
                         #banner-main #choosebox ul li>div:nth-child(2) .r-pro ul li p{margin:0;padding:0 16px;width: 161px;height: 42px;font-size: 14px;font-weight: 400;line-height:1.1;display:table-cell;vertical-align: bottom;}
                           #banner-main #choosebox ul li>div:nth-child(2) .r-pro ul li span{margin-top:8px;display:inline-block;font-size: 14px;font-weight: 400;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #cc0e11;}
  #banner-hotboard{width: 100%;height:450px;margin: 0 auto;position: relative;overflow: hidden;}
		#banner-hotboard .imgbox{width: 100%;height:100%;position: relative;}
			#banner-hotboard .imgbox img{width:100%;height: 100%;position: absolute;left: 1349px;}
			#banner-hotboard .imgbox img:nth-child(1){left: 0;}
			#banner-hotboard .imgbox input{position: absolute;width: 50px;height: 50px;border: none;background: rgba(255,255,255,0);font-size: 30px;top: 225px;outline: none;cursor: pointer;}
			#banner-hotboard .imgbox input#prev1{left: 0;}
			#banner-hotboard .imgbox input#next1{right: 0;}
			#banner-hotboard .list{height: 12px;text-align: center;position: absolute;bottom: 30px;left: 50%;width: 300px;margin-left: -150px;display:flex;justify-content: space-between;}
			#banner-hotboard .list li{border-radius: 12px;border: 1px solid #FFF;height: 12px;line-height: 12px;text-align: center;color: #fff; width: 12px;background-color: transparent;}
			#banner-hotboard .list li.active{background:rgba(255,255,255,.8);}
#main{background:#f5f5f5;}			
#main .floor_recommend>.recom_top .f-1{background:#fff;height:98px;}
 #main .floor_recommend>.recom_top .f-2{height:12px}
  #main .floor_recommend>.recom_top .f-3{height:160px}
  .recom_top_t .left{padding: 0 18px 7px 22px;width: 288px;height: 72px;margin: 13px 0;}
     .recom_top_t .center{width: 602px;border-left: 1px solid #eaeaea;height: 72px;margin: 13px 0;position:relative;}
        .recom_top_t .right{width: 301px;border-left: 1px solid #eaeaea;height:98px;position:relative;}
.recom_top_t .left .recom_name img{margin: 6px 0 0 0;vertical-align: middle;width:59px;height:59px;}
.recom_top_t .left .recom_font{padding-left: 20px;text-align: left;color: #666;}
.recom_top_t .left .recom_font .recom_login{margin-top:8px;font-size: 12px;color: #a4a4a4;line-height: 1.3;width: 168px;}
.recom_login a{color: #3a3a3a;text-decoration: underline;}
.recom_btn{margin-top:6px;}
.recom_btn a{color:#ca141d;display: inline-block;width: 60px;height: 20px;text-align: center;line-height: 18px;border: 1px solid #ca141d;background: #FFF;color: #ca141d;margin-right: 10px;}
.recom_btn a:hover{color:#fff;background:#ca141d;}
.recom_top_t .center ul{width:602px;height:80px;}
.recom_top_t .center ul li{height: 80px;width: 16.6666667%;text-align: center;position:relative;padding-top: 8px;}
.recom_top_t .center ul li a div{height: 40px;margin: 0 auto;overflow: hidden;position: relative;width: 40px;overflow:hidden;}
.recom_top_t .center ul li a div img{position:absolute;}
.recom_top_t .center ul li:nth-child(2) a div img{left:-40px;}
.recom_top_t .center ul li:nth-child(3) a div img{left:-80px;}
.recom_top_t .center ul li:nth-child(4) a div img{left:-120px;}
.recom_top_t .center ul li:nth-child(5) a div img{left:-160px;}
.recom_top_t .center ul li:nth-child(6) a div img{left:-200px;}
.recom_top_t .center ul li p{color:#3a3a3a;font-size:12px;}
.recom_top_t .center ul li p:hover{color:#CA151D;}
.p-notice{height:49px;width:301px;border-bottom:1px solid #eaeaea;}
.p-notice .icon-notice{width:58px;height:48px;}
.p-notice .icon-notice a span{background:url(../images/icon-common.png) no-repeat;width: 31px;height: 13px;display: block;position: relative;top: 17px;margin: 0 auto;background-position: -17px -214px;}
#notice{width:243px;height:48px;overflow: hidden;text-align: left;position: relative;}
#notice ul{height:240px;}
#notice ul li{width: 243px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 48px;line-height: 48px;font-size: 14px;}
.p-info{width:301px;height:48px;}
.p-info ul li{width:33.33%;height:100%;text-align:center;}
.p-info ul li a{font:12px/48px "微软雅黑";width:100%;height:100%;}
.p-info ul li a span{display: inline-block;height: 20px;margin-right: 6px;overflow: hidden;position: relative;top: 6px;width: 20px;}
.p-info ul li a span img{position:absolute;left:-240px;}
.p-info ul li:nth-child(2) a span img{left:-260px}
.p-info ul li:nth-child(3) a span img{left:-280px}
.hotgoods .hot-t .title{color: #3a3a3a;font-size: 22px;margin: 0;padding: 30px 0 15px 0;line-height: 1;}
.goods-r ul li{width:232px;height:290px}
.recom_bott{height:372px}
.recom_bott .recom-top h2.title{color: #3a3a3a;font-size: 22px;margin: 0;padding: 30px 0 15px 0;line-height: 1;}
.recom-center{height:290px;position:relative;}
.recom-center ul{width:6109.09px;}
.recom-center ul li{width:217px;290px;border-left: 1px solid #f5f5f5}
.recom-center .btnleft{background: #f0f0f0;height: 75px;left: 0;margin-top: -37.5px;width: 22px;position: absolute;top: 50%;z-index: 3;cursor: pointer;}
.recom-center .btnright{background: #f0f0f0;height: 75px;right: 0;margin-top: -37.5px;width: 22px;position: absolute;top: 50%;z-index: 3;cursor: pointer;}
.recom-center .btnleft span{background:url(../images/icon-common.png) no-repeat;display: block;margin: 28px auto;height: 16px;width: 11px;background-position:-101px -1px}
.btnright span{background:url(../images/icon-common.png) no-repeat;display: block;margin: 28px auto;height: 16px;width: 11px;background-position:-112px -1px}

.fr-10{height:10px;width:1423px;}
.grid-items{display: inline-block;width: 100%;height: 100%;text-align: center;box-shadow:1px 1px 1px rgba(0,0,0,0.8)}
#recom_cent .goods-r li a .grid-img{width: 148px;height: 148px;margin: 28px auto 0;}
#recom_cent .goods-r li a .grid-img img{width: 148px;height: 148px;}
.grid-items a .grid-title{font-size: 14px;font-weight: 400;margin: 16px 20px 2px;overflow: hidden;color: #3a3a3a;height: 40px;display: table-cell;vertical-align: bottom;width: 259px;padding-left: 16px;padding-right: 16px;}
.grid-items a .grid-tips{font-size: 12px;font-weight: 400;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #a4a4a4;}
.grid-items a .grid-price{font-size: 14px;font-weight: 400;margin: 0 20px 20px;overflow: hidden;color: #cc0e11;}
.recom_bott li a .grid-img{width: 134px;height: 134px;margin: 38px auto 0;}
.recom_bott li a .grid-img img{width: 134px;height: 134px;}
#inhouse .recom-center ul li.grid-items a .grid-img{width: 134px;height: 134px;margin: 38px auto 0;}
#inhouse .recom-center ul li.grid-items a .grid-img img{width: 134px;height: 134px;}
#hotparts .recom-center ul li.grid-items a .grid-img{width: 134px;height: 134px;margin: 38px auto 0;}
#hotparts .recom-center ul li.grid-items a .grid-img img{width: 134px;height: 134px;}
#brantparts .recom-center ul li.grid-items a .grid-img{width: 134px;height: 134px;margin: 38px auto 0;}
#brantparts .recom-center ul li.grid-items a .grid-img img{width: 134px;height: 134px;}
#homebanner{width: 100%;height:120px;margin: 0 auto;position: relative;overflow: hidden;}
		#homebanner.imgbox{width: 100%;height:100%;position: relative;}
			#homebanner .imgbox img{width:100%;height: 100%;position: absolute;left: 1200px;}
			#homebanner .imgbox img:nth-child(1){left: 0;}
			#homebanner .imgbox input{position: absolute;width: 50px;height: 50px;border: none;background: rgba(255,255,255,0);font-size: 30px;top: 225px;outline: none;cursor: pointer;}
			#homebanner .imgbox input#prev2{left: 0;}
			#homebanner .imgbox input#next2{right: 0;}
			#homebanner .list{height: 12px;text-align: center;position: absolute;bottom: 10px;left: 80%;width: 300px;margin-left: -150px;display:flex;justify-content: space-between;}
			#homebanner .list li{border-radius: 12px;border: 1px solid #FFF;height: 12px;line-height: 12px;text-align: center;color: #fff; width: 12px;background-color: transparent;}
			#homebanner .list li.active{background:rgba(255,255,255,.8);}
#iphone{height:776.5px;}
#iphone .gridlist li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#iphone .gridlist li a .grid-img img{width: 178px;height: 178px;}

#iphone .gridlist li:first-child a .grid-img{width: 291px;height:346px;margin-top:0;}
#iphone .gridlist li:first-child a .grid-img img{width: 291px;height: 346px;}

#mgbook{height:418.5px;}
#mgbook .gridlist li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#mgbook .gridlist li a .grid-img img{width: 178px;height: 178px;}

#mgbook .gridlist li:first-child a .grid-img{width: 291px;height:346px;margin-top:0;}
#mgbook .gridlist li:first-child a .grid-img img{width: 291px;height: 346px;}

#m5book{height:776.5px;}
#m5book .gridlist li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#m5book .gridlist li a .grid-img img{width: 178px;height: 178px;}

#m5book .gridlist li:first-child a .grid-img{width: 291px;height:346px;margin-top:0;}
#m5book .gridlist li:first-child a .grid-img img{width: 291px;height: 346px;}

#watch{height:776.5px;}
#watch .gridlist li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#watch .gridlist li a .grid-img img{width: 178px;height: 178px;}

#watch .gridlist li:first-child a .grid-img{width: 291px;height:346px;margin-top:0;}
#watch .gridlist li:first-child a .grid-img img{width: 291px;height: 346px;}

#inhouse{height:1167px;}
#inhouse .gridlist li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#inhouse .gridlist li a .grid-img img{width: 178px;height: 178px;}
#inhouse .goodslist .gridlist li:first-child{width: 594px;height: 346px;!important}
#inhouse .gridlist li:first-child a .grid-img{width: 594px;height: 346px;margin-top:0;}
#inhouse .gridlist li:first-child a .grid-img img{width: 594px;height: 346px;}

#main #graditems-lg{width:594px;}
#hotparts{height:1093px;}
#hotparts  li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#hotparts  li a .grid-img img{width: 178px;height: 178px;}
#hotparts .goodslist .gridlist li:first-child{width: 594px;height: 346px;!important}
#hotparts .gridlist li:first-child a .grid-img{width: 594px;height: 346px;margin-top:0;}
#hotparts .gridlist li:first-child a .grid-img img{width: 594px;height: 346px;}

#brantparts{height:1093px;}
#brantparts  li a .grid-img{width: 178px;height: 178px;margin: 36px auto 0;}
#brantparts  li a .grid-img img{width: 178px;height: 178px;}
#brantparts .goodslist .gridlist li:first-child{width: 594px;height: 346px;!important}
#brantparts .gridlist li:first-child a .grid-img{width: 594px;height: 346px;margin-top:0;}
#brantparts .gridlist li:first-child a .grid-img img{width: 594px;height: 346px;}

.bannerlast{height:125px;}
#shopmain .h{height:38.5px;overflow: hidden;margin: 8px 0 12px;line-height: 36px;position: relative;}
#shopmain .h h2{color: #333;font-size: 24px;}
#shopmain ol{margin-left:28px;}
#shopmain ol li{font:16px/36px "";}
#shopmain ol li a{display: inline-block;font-size: 16px;margin: 0 10px;color: #a4a4a4;position: relative;}
#shopmain .foot{padding: 0 14px;font-size: 18px;position:absolute;right:0;color: #666;}
#shopmain ol li a:hover{color:#ca141d;border-bottom:solid 2px #ca141d }
#shopmain .goodslist .gridlist{width:1212px;justify-content: space-between;}
#shopmain .goodslist .gridlist li{width:291px;height:346px;margin-bottom:12px;}	

			footer{
				height: 478px;
				width: 1440px;
				border-top:solid 1px #eee;
			}
			#foot-t{height:357px;background:#f0f0f0;}
			ul.foot-header{height:140px;padding: 46px 0 46px;margin-bottom: 0;}
			ul.foot-header li{width:300px;height:47px;}
			ul.foot-header li a{line-height: 47px;font-size: 18px;color:#333;}
			ul.foot-header li a span{background:url(../images/icon-common.png) no-repeat;display: inline-block;line-height: 47px;width: 47px;height: 47px;margin-right: 16px;vertical-align: middle;}
			ul.foot-header li:nth-child(1) a span{background-position:0 -151px;}
			ul.foot-header li:nth-child(2) a span{background-position:-94px -151px;}
			ul.foot-header li:nth-child(3) a span{background-position:-141px -151px;}
			ul.foot-header li:nth-child(4) a span{background-position:-47px -151px;}
			#foot-cont{height:217px;border-top: 1px solid #EEE;padding: 26px 0 18px;}
			#foot-cont .service-l{width:945px;height:169px;}
			#foot-cont .service-l dl{width:16.66667%;font-size: 14px;color: #3a3a3a;}
			#foot-cont  dl dt .line{background: #a8a8a8;width: 22px;height: 2px;margin: 2px 0 12px 0 !important;}
			#foot-cont dl dt .title{font-size: 14px;padding-bottom: 12px;color: #3a3a3a;display: block;border-left: none;padding-left: 0;line-height: 1.5 !important;margin-bottom: 0 !important;}
			#foot-cont  dl dd{margin:0;padding:0;}
			#foot-cont dl dd ol li{line-height: 24px;}
			#foot-cont  dl dd ol li a{color: #666;font-size:14px;}
			#foot-cont  dl dd ol li a:hover{color:#cc0e11;}
			#sevicelink dt{position:relative;}
			#sevicelink dt .button{position:absolute;left: 60px;bottom: 12px;}
			#sevicelink dt .button .btn-prev{cursor:pointer;display: inline-block;line-height: 12px;text-align: center;color: #FFF;margin-right: 2px;width: 14px;height: 14px;border-radius: 3px;background: #b3b3b3;}
			#sevicelink dt .button .btn-next{cursor:pointer;display: inline-block;line-height: 12px;text-align: center;color: #FFF;margin-right: 2px;width: 14px;height: 14px;border-radius: 3px;background: #b3b3b3;}
			.servicelist ol{width:158px;margin-left:0;}
			.over{overflow:hidden;}
			#foot-cont .service-r{width:250px;height:164px;padding-left:40px;border-left:solid 1px #E2E3E5;}
			#foot-cont .service-r p.title{font-size:24px;color:#3a3a3a;padding:0;}
			#foot-cont .service-r dl dd:nth-child(3) a{display: block;border-radius:3px;width: 161px;height: 35px;padding: 0;margin-top: 10px;background: #FFF;border: 1px solid #ddd;font-size: 14px;line-height: 35px;text-align: center;color: #900 !important;cursor: pointer;}
			#foot-cont .service-r dl dd:nth-child(3) a i{display:inline-block;height: 18px;width: 22px; margin-right: 8px;vertical-align: middle;background:url(../images/icon-common.png) no-repeat;background-position:-101px -23px;}
			#foot-b{height:121px;border-top: 1px solid #EEE;background: #e6e6e6;}
			#foot-b .foot{height:120px;width:1200px;padding: 26px 0 34px;}
			#foot-b .foot .foot-b-l div{width: 117px;height: 36px; padding: 20px 38px 0 0;}
			#foot-b .foot .foot-b-c div{width: 625px;height: 60px;text-align: left;}
			#foot-b .foot .foot-b-c p{color: #a4a4a4;line-height: 20px;margin-bottom:0;font-size:12px;}
			#foot-b .foot-b-r{padding: 15px 0 0 80px;} 
			#foot-b .foot-b-r a img{width:70px;height:24px;}
#borderradius{width:50px;height:50px;font-size:30px;text-align:center;border-radius: 50%;background:rgba(0,0,0,.5);cursor:pointer ;position:fixed;right:0;bottom: 50px;}
#fixedright {width: 70px;position: fixed;top: 150px;right: 30px;border: 1px solid #ddd;display: none;z-index:100}
#fixedright ul li {width: 70px;height: 32px;border-bottom: 1px dotted #DDDDDD;list-style: none;font-size: 12px;color: #666;text-align: center;line-height: 32px;position: relative;cursor: pointer;}
#fixedright ul li span {width: 70px;height: 32px;position: absolute;top: 0;left: 0;}
#fixedright ul li span {display: none;}
#fixedright ul li.last {background: #C00;color: #fff;border-bottom: 1px solid #ddd;}
#fixedright ul li.hover span {background: #c00;color: #fff;display: block;}
#fixedright ul li.hover span.active {background: #c00;color: #fff;display: block;}
#fixedright ul li span.active {background: #fff;color: #c00;display: block;}
#remb_name .hidden{display:none;}
#remb_name:hover .hidden{display:block}
#bannertop{display:block;height:90px;width:1420px;margin: 0 auto;cursor: pointer;}
